.left-side {
  height: 100%;
  border: 1px solid pink;
  margin-right: 8px;
  border-radius: 2px;
}

.right-content {
  height: 100%;
  border: 1px solid pink;
  border-radius: 2px;
}

.menu-item {
  margin-bottom: 2px;
  padding: 2px 0;
  background-color: rgb(234, 226, 226);
  cursor: pointer;
}

.menu-item:focus {
  background-color: pink;
}

.selected {
  background-color: rgb(231, 111, 111);
}
